name: Build macOS App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pip install py2app psutil keyboard

      - name: Build macOS App
        run: |
          python3 setup.py py2app

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: LanguageMonitor-macOS
          path: dist/
